.header-container {
    height: 100px;
    position: absolute;
    left: 50px;
    top: 30px;
}

.header-img-div {
    height: 100px;
    width: 200px;
    object-fit: cover;
}

img {
    width: 100%;
}